.Navbar {
  width: 1512px;
  height: 129px;
  background-color: goldenrod;
}

.BackgroundPhoto{
  filter: brightness(0.35);
  position: absolute;
  left:0px;
  z-index: 1;
}


.carousel-item{
  height:510px;
  width: 1512px;
  background-color: #808080;
}

.carousel-item img{
  height: 100%; width: 100%; object-fit: cover;
}


.Ribbon-Rec{
  /* Parent */
  width:510px;
  height: 330px;
  background-color:#FDC741;
  position: relative ;
  left: 0px;
  border-radius: 1%;
  z-index: 2;
}


.Triangle-Left{
  /* Child */
  /* Triangle reference: https://www.web4college.com/how-to-make/web4-css-square-isosceles-comment-shape.php */
  /* Converges both borders */
  width:0px;
  /* Height of box */
  border-bottom: 255px solid #FDC741;
  /* Width of box */
  border-right: 170px solid transparent;
  border-left: 170px solid transparent;
  rotate: 90deg ; 
  position:absolute;
  top:203px; left:-42px;
  z-index: 2;
}

.Triangle-Right{
  /* Child */
  /* Triangle reference: https://www.web4college.com/how-to-make/web4-css-square-isosceles-comment-shape.php */
  /* Converges both borders */
  width:0px;
  /* Height of box */
  border-bottom: 255px solid #FDC741;
  /* Width of box */
  border-right: 170px solid transparent;
  border-left: 170px solid transparent;
  rotate: -90deg ; 
  position:absolute;
  top:203px; left: 213px;
  z-index: 2;
}

p.Title{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 45px;
  position:absolute;
  left:31px; top:80px;
  z-index: 3;
  text-align: center;
  color: #000000;
}

p.Body{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  position:absolute;
  left:51px; top:156px;
  z-index: 3;
  text-align: center;
  color: #000000;
  line-height: normal;
  
}

.promo-btn{
  background-color: #FAF9F6;
  font-weight: 550;
  font-size:20px;
  position:absolute;
  left: 185px; top:265px;
  z-index: 3;
  color: #000000;
  box-shadow: 0px 4px 4px #808080;
}

.Wokhey-Logo{
  width: 90px; height: 90px;border-radius: 50%;
  position:absolute;
  top:5px;left:0px;
  z-index:2;
  background-image: url("../assets/Images/BaoShenImg/WokHeyLogo.jpeg");
  background-size: cover;
  background-position: center;
}
