* {
  font-family: "Inter", Helvetica, sans-serif;
}

/*
Jarell

I chose to apply the Blocks, Elements and Modifiers (BEM) methodology
because it allows me to immediately determine the purpose of a class
from its name alone. I can also see that chunks of the html code will seem related.
See https://getbem.com/introduction/
https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html
*/

/* VARIABLES */
:root {
  /* COLOURS */
  --white: white;
  --black: black;
  --grey: lightgrey;
  --light-blue: #58b6dc;
  --linear-gradient-white-blue: linear-gradient(
    0deg,
    #b5eaff 0%,
    #5da0c8 79%,
    #055690 100%
  );

  /* SIZES */
  --border-radius: 10px;
}

/* NON BEM STYLES */
body {
  background: var(--linear-gradient-white-blue);
  min-height: 100vh;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: var(--black);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border-radius: var(--border-radius);
  color: var(--light-blue);
  background-color: var(--white);
  border: 1px solid var(--light-blue);
  padding: 10px;
  cursor: pointer;
}

button:hover {
  color: var(--white);
  background-color: var(--light-blue);
}

/*    BEM styles   */
/* =============== */

/* flex-container */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container--column {
  flex-direction: column;
}

.flex-container--left {
  justify-content: left;
}

.flex-container--flex-grow-1 {
  flex-grow: 1;
}

/* section */
.section--row {
  flex-direction: row;
  /* align-items: flex-start; */
}

.section--column {
  flex-direction: column;
}

.section--flex-wrap {
  flex-wrap: wrap;
}

/* header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--white);
}

.header__brand {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navmenu {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__navmenu__item {
  font-size: 15px;
}

.header__navmenu__item--selected a {
  color: var(--light-blue);
  font-weight: 500;
}

.header__navmenu__item:hover a {
  color: var(--light-blue);
}

.header__button {
  font-size: 20px;
}

/* figure-card */
.figure-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

  flex: 1 2 100px;
  /* flex: 1 1 auto; */
  text-align: center;
}

.figure-card h1 {
  font-size: medium;
  font-weight: 500;
}

.figure-card__change--increase-highlight {
  color: green;
}

.figure-card__change--decrease-highlight {
  color: red;
}

.figure-card__single-statistics {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}

.figure-card__list {
  text-align: left;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}

.figure-card__list li p {
  margin: 0px;
  width: 90%;
}

.figure-card__list li svg {
  margin: 0px;
}

.figure-card__list__item {
  display: flex;
  justify-content: space-between;
}

/* TO FIX */
.figure-card--stall {
  flex: 1 1 0;
  padding: 0;
  flex-direction: row;
  flex: 1 0 auto;
  flex-wrap: wrap;

  /* max-width: 20%;
  width: 20%;
  height: 50%;
  max-height: 50%; */

  max-width: 300px;
  width: 300px;
  height: 200px;
  max-height: 200px;
  gap: 50px;
}

.figure-card--stall__name-and-owner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.figure-card--stall__name-and-owner__name {
  font-weight: 200;
}

.figure-card--stall__extra-info__grade {
  font-size: xx-large;
  font-weight: bold;
}

.figure-card--stall__extra-info__grade--A {
  color: green;
}

.figure-card--stall__extra-info__grade--B {
  color: rgb(188, 188, 46);
}

.figure-card--stall__extra-info__grade--C {
  color: orangered;
}

.figure-card--stall__extra-info__grade--D {
  color: red;
}

.figure-card--stall__extra-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin: 0px;
}

.figure-card--stall__extra-info__element {
  margin: auto;
}

.figure-card--stall__extra-info__element__faded {
  opacity: 25%;
}

.figure-card--centre-info {
  flex-direction: row;
  flex: 1 2 100px;
  text-align: left;
  gap: 20px;
  flex: 1 2 100px;
}

/* centre-info */
.centre-info--schedule-button {
  width: 12em;
}

/* sidebar */
.sidebar {
  background-color: var(--white);
  width: 100px;
  padding: 25px;
  border-radius: var(--border-radius);
  height: fit-content;

  /* temporary fix for sidebar not aligning correctly vertically */
  margin-top: 16px;
}

.sidebar__menu {
  margin-bottom: 15px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}

.sidebar__menu__item {
  font-size: 15px;
}

.sidebar__menu__item a:hover {
  color: var(--light-blue);
}

.sidebar__menu__item--selected a {
  color: var(--light-blue);
}

.sidebar__button {
  font-size: 15px;
}

/* hawker-centre-image */
.hawker-centre-image {
  border-radius: 8px;
  width: 250px;
}

/* search-box */
.search-box {
  display: flex;
  flex: 1 1 0;
}

.search-box__search {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 0.5px solid var(--grey);
}

/* filter-row */
.filter-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.8rem;
}

.filter-row__filter-button {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.filter-row__filter-button svg {
  width: 2em;
  height: 2em;
}

.filter-row__item {
  background-color: var(--white);
  border-radius: 8px;
  border: 0.5px solid var(--grey);
  display: flex;
  justify-self: flex-start;
  align-self: center;
  padding: 0.5rem;
  margin: 1rem 0;
  gap: 0.5rem;
  height: 1rem;
}

.filter-row__item__filter-value {
  font-weight: 500;
}

.filter-row__item p {
  margin: 0px;
}

.filter-row__item__close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  color: black;
}

.filter-row__item__close:hover {
  color: var(--light-blue);
}
