@import url("./navbar.css");

* {
  font-family: "Inter", Helvetica, sans-serif;
}

/*
Jarell

I chose to apply the Blocks, Elements and Modifiers (BEM) methodology
because it allows me to immediately determine the purpose of a class
from its name alone. I can also see that chunks of the html code will seem related.
See https://getbem.com/introduction/
*/

/* VARIABLES */
:root {
  /* COLOURS */
  --white: white;
  --black: black;
  --grey: lightgrey;
  --dark-grey: grey;
  --light-blue: #58b6dc;
  --linear-gradient-white-blue: linear-gradient(
    0deg,
    #b5eaff 0%,
    #5da0c8 79%,
    #055690 100%
  );
  --light-green: rgb(0, 194, 0);
  --red: rgb(236, 56, 56);

  /* SIZES */
  --border-radius: 10px;
}

/* NON BEM STYLES */
body {
  background: var(--linear-gradient-white-blue);
  min-height: 100vh;
}

main {
  max-width: 1200px;
  margin: 1rem auto 5rem auto;
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: var(--black);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

button {
  border-radius: var(--border-radius);
  color: var(--light-blue);
  background-color: var(--white);
  border: 1px solid var(--light-blue);
  padding: 10px;
  cursor: pointer;
}

button:hover {
  color: var(--white);
  background-color: var(--light-blue);
}

/* To override Bootstrap default styles */
.button-override {
  border-radius: var(--border-radius) !important;
  color: var(--light-blue) !important;
  background-color: var(--white) !important;
  border: 1px solid var(--light-blue) !important;
  padding: 10px;
}

.button-override:hover {
  color: var(--white) !important;
  background-color: var(--light-blue) !important;
}

.semi-bold {
  font-weight: 600;
}

/* common nav-bar */
.nav-center a:hover,
.text-logout,
.button-shape-1,
.bold-focus {
  color: var(--light-blue);
}

.button-shape-1 {
  border-color: var(--light-blue);
}

/*    BEM styles   */
/* =============== */

.main--documents-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* flex-container */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 1rem;
}

.flex-container--column {
  flex-direction: column;
}

.flex-container--flex-1-1-auto {
  flex: 1 1 auto;
}

.flex-container--gap-0 {
  gap: 0;
}

.flex-container--justify-content-default {
  justify-content: unset;
}

/* section */
.section--row {
  flex-direction: row;
  /* align-items: flex-start; */
}

.section--column {
  flex-direction: column;
}

.section--flex-wrap {
  flex-wrap: wrap;
}

/* figure-card */
.figure-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex: 1 2 100px;
  text-align: center;

  margin: 0px;
  padding: 1rem;
  box-shadow: 0px 3px 3px 0px #bbbbbb;
}

.figure-card--stand-alone {
  flex: 0 0 auto;
}

.figure-card h2 {
  font-size: medium;
  font-weight: 500;
}

.figure-card__change--increase-highlight {
  color: green;
}

.figure-card__change--decrease-highlight {
  color: red;
}

.figure-card__single-statistics {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}

.figure-card__list {
  text-align: left;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}

.figure-card__list li p {
  margin: 0px;
  width: 90%;
}

.figure-card__list li svg {
  margin: 0px;
}

.figure-card__list__item {
  display: flex;
  justify-content: space-between;
}

/* stall-card */
.stall-card {
  text-align: center;
  margin: 0px;
  align-items: center;
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  padding: 1rem;
  flex-direction: row;
  flex: 1 0 39%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5rem;
  cursor: pointer;

  max-width: 50%;
}

.stall-card__name-and-owner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stall-card__name-and-owner__name {
  font-weight: 200;
}

.stall-card__extra-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin: 0px;
}

.stall-card__extra-info__grade {
  font-size: xx-large;
  font-weight: bold;
}

.stall-card__extra-info__grade--A {
  color: green;
}

.stall-card__extra-info__grade--B {
  color: rgb(188, 188, 46);
}

.stall-card__extra-info__grade--C {
  color: orangered;
}

.stall-card__extra-info__grade--D {
  color: red;
}

.stall-card__extra-info__element {
  margin: auto;
}

.stall-card__extra-info__element__faded {
  opacity: 25%;
}

/* centre-info, stall-info */
.centre-info,
.stall-info {
  background-color: var(--white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 1rem;
  flex: 1 2 100px;
  text-align: left;
  gap: 20px;
  max-height: fit-content;
}

.centre-info__schedule-button {
  width: 12em;
}

/* sidebar */
.sidebar {
  background-color: var(--white);
  width: 20%;
  padding: 2rem;
  border-radius: var(--border-radius);
  height: fit-content;
}

.sidebar__menu {
  margin-bottom: 15px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}

.sidebar__menu__item {
  font-size: 15px;
  white-space: initial;
  /* Below is for truncation */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.sidebar__menu__item a:hover {
  color: var(--light-blue);
}

.sidebar__menu__item--selected a {
  color: var(--light-blue);
}

.sidebar__button {
  font-size: 15px;
}

/* hawker-centre-image, stall-image */
.hawker-centre-image,
.stall-image {
  border-radius: 8px;
  width: 250px;
}

/* search-box */
.search-box {
  display: flex;
  flex: 1 1 0;
  max-height: fit-content;
}

.search-box__search {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 0.5px solid var(--grey);
}

/* filter-row */
.filter-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.8rem;
}

.filter-row__filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-row__filter-button svg {
  width: 2em;
  height: 2em;
}

.filter-row__item {
  background-color: var(--white);
  border-radius: 8px;
  border: 0.5px solid var(--grey);
  display: flex;
  padding: 0.5rem;
  margin: 0;
  gap: 0.5rem;
  align-items: center;
  color: var(--black);
}

.filter-row__item:hover {
  color: var(--black);
  background-color: #f1f1f1;
}

.filter-row__item__filter-value {
  font-weight: 500;
}

.filter-row__item p {
  margin: 0px;
}

.filter-row__item__close {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  color: black;
}

.filter-row__item__close:hover {
  color: var(--light-blue);
}

/* record-container */
.record-container {
  flex-wrap: wrap;
  flex: 0 0 20%;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  display: flex;
  width: 100%;
}

.record-container__record {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 1rem;
  gap: 1rem;
  flex: 1 1 20%;
  max-width: 25%;
}

.record-container__record > * {
  margin: 0px;
}

.record-container__record__minor-info {
  font-size: small;
  color: var(--dark-grey);
}

.record-container__record__minor-info--centre {
  cursor: pointer;
  text-decoration: underline;
}

.record-container__record__validity {
  font-weight: 600;
  border-radius: 8px;
  padding: 0.5rem;
  color: white;
  max-width: fit-content;
  text-align: center;
}

.record-container__record__validity--valid {
  background-color: rgb(0, 194, 0);
}

.record-container__record__validity--expired {
  background-color: var(--red);
}

.hawker-centre-container,
.stall-detai-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

/* rental statistics */
.rental__amount {
  font-size: x-large;
  font-weight: 600;
  margin: 0;
}

.rental__subtitle {
  font-size: small;
  font-weight: 200;
}

.rental__dates {
  font-size: medium;
  margin: 0;
}

.rental__duration {
  font-size: medium;
  /* margin: 0; */
}

.rental__status {
  font-size: medium;
  margin: 0;
}

.rental__status--renewed,
.rental__status--active {
  color: green;
}

.rental__status--expired {
  color: red;
}

/* hygiene-grade */
.hygiene-grade-card__grade {
  font-size: xx-large;
  font-weight: bold;
}

.hygiene-grade-card--A {
  background-color: rgb(153 243 153);
}

.hygiene-grade-card--B {
  background-color: rgb(158, 224, 247);
}

.hygiene-grade-card--C {
  background-color: rgb(255 255 128);
}

.hygiene-grade-card--D {
  background-color: rgb(253 152 152);
}

/* Score selector buttons */
#score-selector * {
  background-color: var(--white);
  border-color: var(--light-blue);
  color: var(--light-blue);
}

/* Media queries */
@media screen and (max-width: 1300px) {
  .hawker-centre-container,.stall-detai-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .statistics-container {
    flex-direction: column;
  }
  .flex-container {
    flex-wrap: nowrap;
  }
  .record-container__record {
    max-width: 100%;
  }
  
}

@media screen and (max-width: 430px) {
  .centre-info {
    flex-direction: column;
  }

  #stall-container {
    flex-direction: column;
  }
  .stall-card {
    max-width: 100%;
  }
}